<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744668372957-stdich7h8pldvb3bfqq059c3vhr3bhbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744668372957-stdich7h8pldvb3bfqq059c3vhr3bhbn</string>
	<key>API_KEY</key>
	<string>AIzaSyAjgAkt2vjYQ5hLAXb58h8oWLFYu3z1oZw</string>
	<key>GCM_SENDER_ID</key>
	<string>744668372957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hajiApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hajjapp-3da80</string>
	<key>STORAGE_BUCKET</key>
	<string>hajjapp-3da80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744668372957:ios:094544dee78c5d72946034</string>
	<key>DATABASE_URL</key>
	<string>https://hajjapp-3da80-default-rtdb.firebaseio.com</string>
</dict>
</plist>